html {
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(11, 126, 155), rgb(51, 77, 224));
    overflow-x: hidden;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 300px;
    min-height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 64px;
    color: cornsilk;
    font-weight: bold;
    padding: 15px;
}
.buttons {
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.btn {
    width: 300px;
    height: 100px;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    color: black;
    outline: 3px black solid;
}

.btn:hover {
    background-color: rgb(182, 182, 182);
    box-shadow: 0px 1px 5px rgba(148, 148, 148, 0.541);
}

.container {
    display: grid;
    background: white;
    width: 720px;
    height: 720px;
    align-content: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 3px solid black;
    
}

:root {
    --grid-cols: 1
    --grid-rows: 1
}

.grid-item {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;
    background-color: white;
}

.color {
    transition: all 0.5s;
    background-color: black;
}